<!DOCTYPE html>

<html>
    <head>
        <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
        <title>Music Player</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script src="https://kit.fontawesome.com/c4254e24a8.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container">
            <div class="music-player">
                <nav>
                    <div class="circle">
                        <div onclick="shuffle()"><i class="fa-solid fa-shuffle"></i></div>
                    </div>
                    <div class="circle">
                        <div onclick="showQueue()"><i class="fa-solid fa-bars"></i></div>
                    </div>
                </nav>
                <img id="cover" src="static/images/cover.jpg" width="316" height="316" alt="image" class="song-img">
                <h1 id="songTitle">Anything</h1>
                <p id="artist">CRX</p>
                <audio id="song">
                    <source src="static/music/Anything.mp3" type="audio/mpeg">
                </audio>
                <div class="controls">
                    <div onclick="skipLeft()"><i class="fa-solid fa-backward"></i></div>
                    <div onclick="playPause()"><i class="fa-solid fa-play" id="ctrlIcon"></i></div>
                    <div onclick="skipRight()"><i class="fa-solid fa-forward"></i></div>
                </div>
                <input type="range" value="0" id="progress">
            </div>
            <div class="linked-div">
                <div id="queue" style="display:none;" class="box" >
                    <p class="word" onclick="playSong(0)"><img src="static/images/cover.jpg" width="40" height="40" alt="Image">Anything</p>
                    <p class="word" onclick="playSong(1)"><img src="static/images/cover.jpg" width="40" height="40" alt="Image">Broken Bones</p>
                    <p class="word" onclick="playSong(2)"><img src="static/images/alternative.jpg" width="40" height="40" alt="Image">Give It Up</p>
                    <p class="word" onclick="playSong(3)"><img src="static/images/cover.jpg" width="40" height="40" alt="Image">Monkey Machine</p>
                    <p class="word" onclick="playSong(4)"><img src="static/images/CRX.jpg" width="40" height="40" alt="Image">On Edge</p>
                    <p class="word" onclick="playSong(5)"><img src="static/images/alternative.jpg" width="40" height="40" alt="Image">One Track Mind</p>
                    <p class="word" onclick="playSong(6)"><img src="static/images/cover.jpg" width="40" height="40" alt="Image">Slow Down</p>
                    <p class="word" onclick="playSong(7)"><img src="static/images/PEEK.jpg" width="40" height="40" alt="Image">Unnatural</p>
                    <p class="word" onclick="playSong(8)"><img src="static/images/PEEK.jpg" width="40" height="40" alt="Image">Walls</p>
                    <p class="word" onclick="playSong(9)"><img src="static/images/Ways to Fake It.jpg" width="40" height="40" alt="Image">Ways to Fake It</p>
                </div>
            </div>
        </div>
        <script>

            var playlist = [
                ["static/music/Anything.mp3","Anything","static/images/cover.jpg","CRX"],
                ["static/music/Broken Bones.mp3","Broken Bones","static/images/cover.jpg","CRX"],
                ["static/music/Give It Up.mp3","Give It Up","static/images/alternative.jpg","CRX"],
                ["static/music/Monkey Machine.mp3","Monkey Machine","static/images/cover.jpg","CRX"],
                ["static/music/On Edge.mp3","On Edge","static/images/CRX.jpg","CRX"],
                ["static/music/One Track Mind.mp3","One Track Mind","static/images/alternative.jpg","CRX"],
                ["static/music/Slow Down.mp3","Slow Down","static/images/cover.jpg","CRX"],
                ["static/music/Unnatural.mp3","Unnatural","static/images/PEEK.jpg","CRX"],
                ["static/music/Walls.mp3","Walls","static/images/PEEK.jpg","CRX"],
                ["static/music/Ways to Fake It.mp3","Ways to Fake It","static/images/Ways to Fake It.jpg","CRX"]
            ]

            var currentIndex = 0
            var maxIndex = 9
            var minIndex = 0
            var songTitle = document.getElementById("songTitle");
            var artist = document.getElementById("artist");
            var cover = document.getElementById("cover");
            var queue = document.getElementById("queue");

            let progress = document.getElementById("progress")
            let song = document.getElementById("song")
            let ctrlIcon = document.getElementById("ctrlIcon")

            song.addEventListener('ended', skipToNextSong);

            function skipToNextSong() {
                skipRight();
            }

            song.onloadedmetadata = function(){
                progress.max = song.duration
                progress.value = song.currentTime
            }

            function skipLeft(){
                currentIndex--
                if(currentIndex < minIndex){
                    currentIndex = 9
                }
                var audioElement = document.getElementById('song')
                audioElement.src = playlist[currentIndex][0]
                audioElement.load();
                songTitle.textContent = playlist[currentIndex][1]
                cover.src = playlist[currentIndex][2]
                artist.textContent = playlist[currentIndex][3]
                audioElement.play()
                setPlay()
            }

            function skipRight(){
                currentIndex++
                if(currentIndex > maxIndex){
                    currentIndex = 0
                }
                var audioElement = document.getElementById('song')
                audioElement.src = playlist[currentIndex][0]
                audioElement.load();
                songTitle.textContent = playlist[currentIndex][1]
                cover.src = playlist[currentIndex][2]
                artist.textContent = playlist[currentIndex][3]
                audioElement.play()
                setPlay()
            }

            function setPlay(){
                if(ctrlIcon.classList.contains("fa-play")){
                    ctrlIcon.classList.add("fa-pause")
                    ctrlIcon.classList.remove("fa-play")
                }
            }

            function playPause(){
                if(ctrlIcon.classList.contains("fa-pause")){
                    song.pause()
                    ctrlIcon.classList.remove("fa-pause")
                    ctrlIcon.classList.add("fa-play")
                }
                else{
                    song.play()
                    ctrlIcon.classList.add("fa-pause")
                    ctrlIcon.classList.remove("fa-play")
                }
            }

            if(song.play()){
                setInterval(()=>{
                    progress.value = song.currentTime
                },1000)
            }

            progress.onchange = function(){
                song.play()
                song.currentTime = progress.value
                ctrlIcon.classList.add("fa-pause");
                ctrlIcon.classList.remove("fa-play");
            }

            function showQueue(){
                var html = "";
                queue.innerHTML = html;
                if(document.getElementById("queue").style.display === "none"){
                    displayQueue()
                    document.getElementById("queue").style.display = "block";
                }
                else{
                    document.getElementById("queue").style.display = "none";
                }
            }

            function displayQueue(){
                var html = "";
                for(i = 0; i < playlist.length; i++){
                    html += '<p class="word fancy" onclick="playSong(' + i + ')">'
                    html += '<img src="' + playlist[i][2] + '" width="40" height="40" alt="Image">'
                    html += playlist[i][1]
                    html += '</p>'
                }
                queue.innerHTML = html
            }

            function shuffleArray(array){
                for(let i = array.length - 1; i > 0; i--){
                    const j = Math.floor(Math.random() * (i + 1));  
                    [array[i], array[j]] = [array[j], array[i]];
                }
                return array;
            }

            function shuffle(){
                playlist = shuffleArray(playlist)
                currentIndex = -1
                displayQueue()
            }

            function playSong(index){
                currentIndex = index
                var audioElement = document.getElementById('song')
                audioElement.src = playlist[currentIndex][0]
                audioElement.load();
                songTitle.textContent = playlist[currentIndex][1]
                cover.src = playlist[currentIndex][2]
                artist.textContent = playlist[currentIndex][3]
                audioElement.play()
                setPlay()
            }
            
        </script>
    </body>
</html>